@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shadows+Into+Light&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --big-font:'Shadows Into Light';
    --main-font:'Bitter', serif;
    --color-dark:#737373;
    --color-light:#ff6666;
    --main-color:#515151;
}

html{
    font-family: var(--main-font);
    font-size: 10px;
    color:var(--main-color);
    scroll-behavior: smooth;
}
body{
    
}

section{
    
}

a{
    text-decoration: none;
}

p{
    font-size: 1.6rem;
}

.container{
    width: 100%;
    max-width: 122.5rem;
    margin:0 auto;
    padding:0 2.4rem;
}

header{
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(90,120,127,.8), transparent);
}

.nav{
    height:7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-toggle{
    color:#fff;
    font-size: 2.2rem;
    position: absolute;
    top:50%;
    transform: translate(-50%);
    right:2.5rem;
    cursor: pointer;
    z-index: 50;
}

.menu-toggle .fa-times{
    display: none;
}

.logo{
    text-transform: uppercase;
    font-size: 2.2rem;
    color:#fff;
    border-bottom: 2px solid #fff;
}


.nav-list{
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background-color: #006378;
    padding:4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 10;
    transform:translateX(-100%);
    transition:transform .5s;
   
}

.nav::before{
    content:'';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ff666666;
    z-index: 8;
    opacity: 0;
    transform: scale(0);
    transition:opacity .5s;
}

.open .fa-times{
    display: block;
}

.open .fa-bars{
    display: none;
}

.open .nav-list{
    transform: translateX(0);
}
.open .nav::before{
    opacity: 1;
    transform: scale(1);
}


.nav-item{
    border-bottom:2px solid rgba(255,255,255,.3);
    
}

.nav-link{
    display: block;
    color:#fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
    transition:color .3s;
}

.nav-link:hover{
    color:#ff6666;
}

.hero{
    width: 100%;
    height:100vh;
    background:url(../images/1.jpg) no-repeat center center/cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-headline{
    font-size: 8.5rem;
    font-family: var(--big-font);
    font-weight: 100;
    letter-spacing: 2px;
    color:#ff6666;
    
    opacity: 0;
    animation:fadeup .5s linear .3s forwards;
}

.hero h1.headline{color:#fff;}
.headline{
    color:#ff6666;
    font-size: 3.7rem;
    font-family: var(--main-font);
    font-weight: 700;
    letter-spacing: .5rem;
    margin-right: .5rem;
    opacity: 0;
    animation:scale .5s forwards;
    
}

.saparator{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.line{
    max-width: 10.4rem;
    width: 100%;
    height:.25rem;
    background-color:#fff;
    position: relative;
    opacity: 0;
    animation:grow 2s forwards;
    animation-delay: .9s;
    
}

.line-left::before, .line-right::before{
    content:'';
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    border: .7rem solid transparent;
    opacity: 0;
    animation:grow .5s forwards;
    animation-delay: 1.2s;
}


.line-right::before{
    border-right-color:#fff;
    right:0;
}

.line-left::before{
    border-left-color:#fff;
    left:0;
}


.asterisk {
    font-size: 1.3rem;
    color:#fff;
    margin: 0 1.6rem;
    opacity: 0;
    animation:spin .5s forwards;
    animation-delay: .7s;
    
}

.single-animation{
    opacity: 0;
    animation:fadedown .5s forwards;
    animation-delay: 1.5s;
}

.headline-description{
    color:#fff;
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom:1.2rem;
    letter-spacing: 5px;
    margin-right:14px;
}

.btn{
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}

.cta-btn{
    font-size: 1.1rem;
    background-color: #fff;
    padding:.9rem 1.8rem;
    margin-top: .5rem;
    font-weight: 700;
    color:#ff6666;
    border-radius: .4rem;
    transition: background-color .3s ;
}

.cta-btn:hover{
    color:#fff;
    background-color: #ff6666;
}


.global-headline{
    text-align: center;
    margin-top: 3.9rem;
    
}

.discover-our-story .global-headline{
    margin-top: 6.9rem;
}

.global-headline .asterisk{
    color:var(--color-dark);
    margin:2.4rem 0;
}

.headline-dark{
    color:var(--color-dark);
    letter-spacing: .7rem;
    text-transform: uppercase;
}

.global-headline .sub-headline{
    letter-spacing: -1px;
    line-height: 0.6;
}

.info{
    text-align: center;
    
}

.website-description{
    margin-bottom:3rem;
}

.body-btn{
    font-size: 1.5rem;
    color:var(--color-light);
    position: relative;
}

.body-btn::before{
    content:'';
    position: absolute;
    left: 0;
    bottom:-3px;
    width:100%;
    height:2px;
    background-color: var(--color-light);
    transition:background-color .3s;
}

.body-btn:hover{
    color:var(--color-dark);
}

.body-btn:hover::before{
    color:var(--color-dark);
}

.tasteful{
    background: url(../images/4.jpg) no-repeat center center/cover;
}

.between{
    min-height: 65vh;
    display: flex;
    align-items: center
}


.info-img img{
    width: 100%;
}


.image-group{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:1.5rem;
}

.discover-our-menu .website-description{
    padding-top: 3rem;
    margin-bottom:0;
}

.perfect-blend{
    background: url(../images/4.jpg) no-repeat center center/cover;
}

footer{
    padding:7.9rem 0;
    background-color: #006378;
    color:#fff;
    text-align: center;
    position: relative;
}

.back-to-top{
    width: 7rem;
    height: 7rem;
    background-color:#006378;
    position: absolute;
    top:-3rem;
    left:50%;
    transform: translateX(-50%);
    border-radius: 50%;
    
    
}

.back-to-top i{
    display: block;
    color:#fff;
    font-size: 2rem;
    padding:2rem;
    animation:up 1.5s infinite;
}

.footer-content{
    overflow: hidden;
}
.footer-content h4{
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 3rem;
    
}


.footer-content .asterisk{
    margin:2.4rem 0;
}

.footer-content-about{
    margin-bottom: 5.4rem;
}

.footer-content-about p{
    line-height: 2;
}

.social-icons{
    list-style: none;
    margin-bottom: 5.4rem;
    display: flex;
    justify-content: center;
}

.social-icons i{
    font-size: 2rem;
    color:#fff;
    padding:0.8rem 2rem;
    opacity: .5;
    transition:color .3s; 
}

.social-icons i:hover{
    color:var(--color-light);
}

.newsletter-form{
    width: 100%;
    position:relative;
    display: flex;
    justify-content: center;
}

.newsletter-form input{
    width: 100%;
    max-width:25rem;
    padding:1rem;
    border-radius: .4rem;
}

.newsletter-btn{
    background-color: transparent;
    border:none;
    cursor: pointer;
    font-size: 1.6rem;
    padding:1px .6rem;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    margin-left:20.5rem;
    
}


@media only screen and (min-width:900px){
    
    section{
        padding:7.9rem;
    }
    .menu-toggle{
        display: none;
    }
    
    .nav{
        justify-content: space-between;
    }
    .nav-list{
        position: initial;
        width: initial;
        height:initial;
        background-color: transparent;
        padding:0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
        transition:initial;
    }
    
    .nav-item{
        margin:0 1.4rem;
        border:none;
    }
    .nav-item:last-child{
        margin-right:0;
    }
    
    .nav-link{
        font-size: 1.3rem;
    }
    .active{
        position: relative;
    }
    .active::before{
        content:'';
        position: absolute;
        width: 100%;
        height:2px;
        background-color: #fff;
        left:-2px;
        bottom:-9px;
        
    }
    
    .sub-headline{
        font-size: 10rem;
    }
    
    .first-letter{
        font-size: 12.5rem;
    }
    .headline{
        font-size: 4rem;
        letter-spacing: 0.8rem;
    }
    
    .line{
        max-width:15rem;
    }
    
    .info{
        display: flex;
        align-items: center;
    }

    .info > div {
        flex:1;
    }
    
    .padding-right{
        padding-right:7rem;
    }
    
    .footer-content{
        max-width:77.5rem;
        margin:auto;
    }
    
    .footer-content-about{
        max-width:51.3rem;
        margin:0 auto;
    }
    
    .footer-content-divider{
        display: flex;
        justify-content: space-between;
    }
    
    .social-media,
    .newsletter-form{
        width: 100%;
        max-width:27.3rem;
        margin:0 1rem;
        
    }
    
    .social-icons i{
        opacity: 1;
    }
    
    .newsletter-btn{
        margin-left:16.5rem;
    }
    
}

/* animation */

@keyframes fadeup{
    0%{
        transform: translateY(4rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scale{
    0%{
        transform: scale(2);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes grow{
    0%{
        width:0;
    }
    100%{
        opacity: 1;
        width:100%;
    }
}

@keyframes spin{
    0%{
        transform: rotate(0);
    }
    100%{
        opacity: 1;
        transform: rotate(-360deg);
    }
}

@keyframes fadedown{
    0%{
        transform: translateY(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes up{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-1rem);
    }
}






